@import "tailwindcss";
@source inline("bg-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-200");
@source inline("bg-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-300");

@source inline("bg-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-50");
@source inline("{hover:,}border-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-400");

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --background: #f7f5f3;
  --foreground: #183d4d;
  --card: #ffffff;
  --card-foreground: #183d4d;
  --popover: #f3faff;
  --popover-foreground: #183d4d;
  --primary: #efb461;
  --primary-foreground: #f5f4f0;
  --secondary: #8578e8;
  --secondary-foreground: #f5f4f0;
  --muted: #e9e8e0;
  --muted-foreground: #183d4d;
  --accent: #eae8e0;
  --accent-foreground: #183d4d;
  --destructive: #f47676;
  --border: #dcdbd6;
  --input: #c9c6c0;
  --ring: #efb563;
  --chart-1: #0b83ab;
  --chart-2: #40518d;
  --chart-3: #00aa6d;
  --chart-4: #bdb062;
  --chart-5: #8059bb;
  --sidebar: #f5f5f5;
  --sidebar-foreground: #193d4d;
  --sidebar-primary: #efb563;
  --sidebar-primary-foreground: #f5f5f5;
  --sidebar-accent: #e9e8e0;
  --sidebar-accent-foreground: #193d4d;
  --sidebar-border: #dcdbd3;
  --sidebar-ring: #efb563;

  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Space Mono, monospace;

  --radius: 0.975rem;

  --shadow-2xs: 0px 1px 2.5px 0px #ded9d4;
  --shadow-xs: 0px 1px 2.5px 0px #ded9d4;
  --shadow-sm: 0px 1px 2.5px 0px #ded9d4, 0px 1px 2px -1px #ded9d4;
  --shadow: 0px 1px 2.5px 0px #ded9d4, 0px 1px 2px -1px #ded9d4;
  --shadow-md: 0px 1px 2.5px 0px #ded9d4, 0px 2px 4px -1px #ded9d4;
  --shadow-lg: 0px 1px 2.5px 0px #ded9d4, 0px 4px 6px -1px #ded9d4;
  --shadow-xl: 0px 1px 2.5px 0px #ded9d4, 0px 8px 10px -1px #ded9d4;
  --shadow-2xl: 0px 1px 2.5px 0px #ded9d4;
}

.dark {
  --background: #0e111b;
  --foreground: #d8dfe4;
  --card: #171a24;
  --card-foreground: #d8dfe4;
  --popover: #171a24;
  --popover-foreground: #d8dfe4;
  --primary: #26acf4;
  --primary-foreground: #d8effc;
  --secondary: #232838;
  --secondary-foreground: #d8dfe4;
  --muted: #232838;
  --muted-foreground: #798093;
  --accent: #232838;
  --accent-foreground: #d8dfe4;
  --destructive: #ff1648;
  --border: #d8dfe426;
  --input: #d8dfe433;
  --ring: #00a1d0;
  --chart-1: #00a1d0;
  --chart-2: #697dbc;
  --chart-3: #24ba7d;
  --chart-4: #ccc072;
  --chart-5: #8f68cb;
  --sidebar: #171a24;
  --sidebar-foreground: #d8dfe4;
  --sidebar-primary: #00a1d0;
  --sidebar-primary-foreground: #0e111b;
  --sidebar-accent: #232838;
  --sidebar-accent-foreground: #d8dfe4;
  --sidebar-border: #d8dfe426;
  --sidebar-ring: #00a1d0;

  --shadow-2xs: 0px 1px 2px 0px #000000;
  --shadow-xs: 0px 1px 2px 0px #000000;
  --shadow-sm: 0px 1px 2px 0px #000000, 0px 1px 2px -1px #000000;
  --shadow: 0px 1px 2px 0px #000000, 0px 1px 2px -1px #000000;
  --shadow-md: 0px 1px 2px 0px #000000, 0px 2px 4px -1px #000000;
  --shadow-lg: 0px 1px 2px 0px #000000, 0px 4px 6px -1px #000000;
  --shadow-xl: 0px 1px 2px 0px #000000, 0px 8px 10px -1px #000000;
  --shadow-2xl: 0px 1px 2px 0px #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--foreground);
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
